@use '../../constants/colors';
@use '../../constants/mixins';

$transformValue: transform 0.3s ease-in-out;
$visibilityValue: visibility 0.3s ease-in-out;

.menu {
  width: 310px;
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  background-color: rgba(colors.$DESKTOP_BACKGROUND, 0.4);
  padding: 39px 26px 29px 36px;
  border-right: 1px gray solid;

  &__menu {
    overflow-y: auto;
    flex-grow: 1;
  }

  @include mixins.tablet {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    transition: $visibilityValue;
    z-index: 90;

    &__menu {
      background-color: red;
      display: flex;
      flex-direction: column;
      width: 260px;
      height: 100%;
      padding: 60px 20px 20px;
      transform: translate(-100%);
      transition: $transformValue;

      &_active {
        @include mixins.tablet {
          transform: translate(0);
          transition: $transformValue;
        }

        @include mixins.mobile {
          width: auto;
          transform: translate(0);
          transition: $transformValue;
        }
      }
    }

    &_active {
      @include mixins.tablet {
        visibility: visible;
        transition: $visibilityValue;
      }

      @include mixins.mobile {
        visibility: visible;
        transition: $visibilityValue;
      }
    }
  }
}
