$DESKTOP_HOVER: #FF39EB;
$DESKTOP_BACKGROUND: #D6BDFF;

$TABLET_BACKGROUND: #95D9FF;
$TABLET_BURGER_MENU_BACKGROUND: #D6BDFF;
$TABLET_BURGER_MENU_HOVER: #FF39EB;

$MOBILE_BACKGROUND: #ADFCC8;
$MOBILE_BURGER_MENU_BACKGROUND: #D6BDFF;
$MOBILE_BURGER_MENU_HOVER: #FF39EB;
