$transitionValue: transform 0.3s ease-in-out;

.card {
  position: relative;
  min-width: 160px;
  height: 128px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 5;

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    align-self: center;
  }

  &__contentField {
    height: 60px;
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 6px;
    position: absolute;
    bottom: 0;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.7);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: translateY(100%);
    transition: $transitionValue;
  }

  &__contentText {
    color: white;
  }

  &:hover {
    .card__contentField {
      transform: translateY(0);
      transition: $transitionValue;
    }
  }
}
