@use '../../constants/colors';
@use '../../constants/mixins';

.header {
    background-color: colors.$DESKTOP_BACKGROUND;
    padding: 18px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__avatarWrap {
        height: 30px;
        width: 30px;
        overflow: hidden;
        border-radius: 50%;
    }

    &__avatar {
        height: 100%;
        width: 100%;
    }

    @include mixins.tablet {
      background-color: colors.$TABLET_BACKGROUND;
    }

    @include mixins.mobile {
      background-color: colors.$MOBILE_BACKGROUND;
    }
}