body {
    margin: 0;
}

p {
    margin: 0;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

h1 {
    margin: 0;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 26px;
}

h3 {
    margin: 0;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 20px;
}

a {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 16px;
    text-decoration: none;
}
