body {
    margin: 0;
}

p {
    margin: 0;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

h1 {
    margin: 0;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 26px;
}

h3 {
    margin: 0;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 20px;
}

a {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

/* Chrome, Safari, Edge */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
    margin: 6px;
}

::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
    margin: 6px 0;
}

::-webkit-scrollbar-thumb {
    background: #593a9e;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #392367;
}

/*Вариант для Firefox*/
/*html {*/
/*    scrollbar-width: thin;*/
/*    scrollbar-color: #593a9e white;*/
/*}*/
