@use '../../constants/colors';
@use '../../constants/mixins';

.menuAdaptive {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  transition: visibility 0.3s ease-in-out;
  z-index: 90;

  &__menu {
    background-color: red;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 100%;
    padding: 60px 20px 20px;
    transform: translate(-100%);
    transition: transform 0.3s ease-in-out;

    &_active {
      @include mixins.tablet {
        transform: translate(0);
        transition: transform 0.3s ease-in-out;
      }

      @include mixins.mobile {
        width: auto;
        transform: translate(0);
        transition: transform 0.3s ease-in-out;
      }
    }
  }

  &_active {
    @include mixins.tablet {
      visibility: visible;
      transition: visibility 0.3s ease-in-out;
    }

    @include mixins.mobile {
      visibility: visible;
      transition: visibility 0.3s ease-in-out;
    }
  }
}
